{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Revolution</title>
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/logo2.jpeg' %}">
</head>

<body>

    <header>
        <div class="header-content">
            <img src="{% static 'assets/img/logo2.jpeg' %}" alt="Logo de la Empresa" class="logo">
            <h1 class="app-name">KickSport</h1>
        </div>
    </header>

    <div class="container">
        <section class="description">
            <h2>Descripción del Proyecto</h2>
            <p>
                "KickSport" es una app móvil diseñada para realizar compras de zapatillas de distintos tipos, géneros y modelos.
                Esta app está centrada en la experiencia del usuario y en su seguridad, 
                donde el usuario puede realizar su compra de sus calzados preferidos de la manera más cómoda posible. 
                Dentro de nuestra app podrá encontrar más información sobre la creación de la app.
            </p>
        </section>

        <section class="why">
            <h2>¿Por qué lo creamos?</h2>
            <p>
                KickSport nació con el objetivo de ofrecer una forma fácil, rápida y segura de comprar zapatillas deportivas. 
                Nos enfocamos en brindar una excelente experiencia de usuario, permitiendo que nuestros clientes encuentren, comparen y compren sus zapatillas favoritas desde la comodidad de su hogar.
                Con una amplia variedad de modelos y marcas, nuestra app asegura que cada persona pueda encontrar lo que necesita.
                Además, nos preocupamos por la seguridad de nuestros usuarios, garantizando un proceso de compra confiable. En KickSport, cada paso cuenta, ¡y queremos hacerlo cómodo para ti!
            </p>
        </section>

        <section class="download">
            <h2>Descarga la Aplicación Aquí</h2>
            <div id="download-link">
                <a href="https://raw.githubusercontent.com/benjvv19/APK/master/KickSport.apk" class="download-button" target="_blank">
                    Descargar para Móvil
                </a>
            </div>
            <div id="qr-code" style="display:none;">
                <img src="{% static 'assets/img/qrcode.png' %}" alt="Código QR de la App" class="qr-code">
            </div>
        </section>
    </div>

    <footer>
        <p>&copy; 2024 KickSport - Todos los derechos reservados.</p>
    </footer>

    <script>
        function detectDevice() {
            var isMobile = /Mobi|Android/i.test(navigator.userAgent);
            if (isMobile) {
                document.getElementById('download-link').style.display = 'block';
                document.getElementById('qr-code').style.display = 'none';
            } else {
                document.getElementById('download-link').style.display = 'none';
                document.getElementById('qr-code').style.display = 'block';
            }
        }

        window.onload = detectDevice;
    </script>

</body>

</html>
